@model YouBank24.Models.ViewModels.TransactionDetailsViewModel

<p>@Model.SenderFirstName</p>
<p>@Model.SenderLastName</p>
<p>@Model.SenderEmail</p>
<p>@Model.ReceiverFirstName</p>
<p>@Model.ReceiverLastName</p>
<p>@Model.ReceiverEmail</p>
<p>@Model.Amount</p>
<p>@Model.Timestamp</p>