@model YouBank24.Models.ViewModels.TransactionDetailsViewModel

<div class="d-flex align-items-center justify-content-center flex-column gap-5">
    <div class="header">
        <h2 class="main-title-details text-uppercase mb-0">
            Transaction Details
        </h2>
    </div>
    <div class="transaction-details-container mt-2 mb-3">
        <div>
            <h3 class="mb-0">
                From: @Model.SenderFirstName @Model.SenderLastName
            </h3>
            <div>
                <p class="item-email">@Model.SenderEmail</p>
            </div>
        </div>
        <hr style="color: white;">
        <div>
            <h3 class="mb-0">
                To: @Model.ReceiverFirstName @Model.ReceiverLastName
            </h3>
            <div>
                <p class="item-email">@Model.ReceiverEmail</p>
            </div>
        </div>
        <hr style="color: white;">
        <div>
            <p class="fw-light"><span class="fw-normal">Time of transaction:</span> @Model.Timestamp</p>
        </div>
        <div class="mb-4">
        @if(Model.Note != "") {
            <p>
                Note: <span class="fst-italic fw-light">"@Model.Note"</span>
            </p>
        }
        </div>
        <div>
            <h3 class="mb-0">
                $@Model.Amount
            </h3>
        </div>
    </div>
    <div class="d-flex align-items-center justify-content-center w-50 mt-4">
        <a class="btn btn-light d-flex align-items-center justify-content-center" style="width: 30%;" href="/TransactionList">
            <p class="action-buttons-text text-dark" style="margin: 0;">
                Go Back
            </p>
        </a>
    </div>
</div>